.git
.env
node_modules
vendor
.build/*
!.build/production/
.build/production/*
!.build/production/vendor/
!.build/production/vendor/**
artifacts
tests
docs
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
